.profile {
  display: grid;
  grid-template-columns: 120px 365px auto 150px;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 0 51px;
  color: #fff;
}

@media screen and (max-width: 750px) {
  .profile {
    display: flex;
    flex-direction: column;
    height: 286px;
    margin-bottom: 36px;
  }
}