.elements__delete-btn {
  background-image: url('../../../images/elements/Trash.svg');
  border: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
  height: 19px;
  transition: opacity 0.6s linear;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
}

.elements__delete-btn:hover {
  opacity: 0.5;
}