.popup__save-button {
  height: 50px;
  margin-top: 18px;
  padding: 0;
  background-color: #000;
  border: none;
}

@media screen and (max-width: 650px) {
  .popup__save-button {
    height: 46px;
    margin-top: 15px;
  }
}